autoreject
cateyes
heartpy
ipython
matplotlib
mne
mne_features
git+https://gitlab.com/nslr/nslr
git+https://github.com/pupil-labs/nslr-hmm
numpy
pandas
pivottablejs
remodnav
seaborn
jupyterlab
mne-connectivity
ipykernel
eeglib